/* ======================================= PAGE - DASHBOARD ======================================= */
/* HEADER */
.page-dashboard .header :is(.row-1, .row-2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-dashboard .header .row-1 {
    font: var(--font-l);
    font-weight: 400;
}

.page-dashboard .header .row-2 {
    margin-top: var(--body-padding);
    border-radius: 10px;
    padding: var(--body-padding);
    background-color: var(--c-white-100);
    color: var(--c-grey);
}

.page-dashboard .header .row-2 .report {
    color: var(--c-grey);
}

.page-dashboard .header .row-2 .ammount {
    font: var(--font-xl);
    line-height: 1;
    margin: calc(var(--body-padding) * 0.5) 0 -2px;
    display: block;
}

.page-dashboard .header .row-2 .ammount:after {
    content: " " var(--currency);
}

.page-dashboard .header .row-2 .ammount.positive {
    color: var(--c-green-100);
}

.page-dashboard .header .row-2 .ammount.negative {
    color: var(--c-red-100);
}

.page-dashboard .header .row-2>i {
    font: var(--font-xl);
    line-height: 1;
    color: var(--c-grey);
    margin-right: var(--body-padding);
}

/* BODY */
.page-dashboard section {
    border-top: var(--border-bold);
    background-color: var(--c-white-100);
    padding: var(--body-padding);
}

.page-dashboard .section-heading {
    padding-bottom: var(--body-padding);
    color: var(--c-black-50);
}

/* Section Recent transactions */
.page-dashboard .section-recent-transactions .transaction-row-wrapper {
    padding-right: 0;
    padding-left: 0;
    border-top: var(--border);
}

.page-dashboard .section-wrapper button {
    margin: var(--body-padding) 0 0 auto;
    gap: 0;
}

.page-dashboard .section-wrapper button:after {
    content: "\ea00";
    font-size: 20px;
    font-family: "Phosphor-Bold" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

/* Section all reports */
.page-dashboard .heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--body-padding);
    flex-wrap: wrap;
    padding-bottom: var(--body-padding);
}

.page-dashboard .heading-wrapper .section-heading {
    padding: 0;
}

.page-dashboard .heading-wrapper .section-heading-filter {
    color: var(--c-primary-100);
    line-height: 1;
    display: flex;
    align-items: center;
}

.page-dashboard .heading-wrapper .section-heading-filter:after {
    content: "\ea00";
    font-size: 20px;
    font-family: "Phosphor-Bold" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

/* Reports - Income vs Expense */
.page-dashboard .section-report-income-expense .section-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.page-dashboard .section-report-income-expense .section-wrapper .not-found-data {
    flex-grow: 1;
}

.page-dashboard .section-report-income-expense .chart {
    width: 30%;
    height: 200px;
    flex-grow: 1;
}

.page-dashboard .section-report-income-expense .chart canvas {
    height: 100% !important;
}

.page-dashboard .section-report-income-expense .chart-info {
    width: 70%;
    flex-grow: 1;
    padding-left: var(--body-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-dashboard .section-report-income-expense :is(.chart-info-income, .chart-info-expense) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--body-padding) * 0.5);
    flex-wrap: wrap;
    margin-bottom: var(--body-padding);
}

.page-dashboard .section-report-income-expense :is(.chart-info-income, .chart-info-expense):before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}

.page-dashboard .section-report-income-expense .chart-info-income:before {
    background-color: var(--c-green-100);
}

.page-dashboard .section-report-income-expense .chart-info-expense:before {
    background-color: var(--c-red-100);
}

.page-dashboard .section-report-income-expense :is(.chart-info-income, .chart-info-expense):after {
    content: attr(value) " " var(--currency);
    flex-grow: 1;
    text-align: right;
}

.page-dashboard .section-report-income-expense .chart-info-income:after {
    color: var(--c-green-100);
}

.page-dashboard .section-report-income-expense .chart-info-expense:after {
    color: var(--c-red-100);
}

.page-dashboard .section-report-income-expense .chart-info-total {
    color: var(--c-black-80);
    text-align: right;
    border-top: var(--border);
    padding-top: var(--body-padding);
}

.page-dashboard .section-report-income-expense .chart-info-total:after {
    content: " " var(--currency);
}

/* Reports - Incomes */

/* ======================================= PAGE - WALLETS ======================================= */
.page-wallets .header {
    text-align: center;
}

.page-wallets section:not(.section-add-wallet) {
    background-color: var(--c-white-100);
    border-bottom: var(--border-bold);
}

.page-wallets .section-total-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--body-padding);
    font-weight: 600;
    padding: var(--body-padding);
}

.page-wallets .section-total-balance:before {
    content: "Total balance:";
    color: var(--c-black-90) !important;
}

.page-wallets section:not(.section-total-balance) .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding: var(--body-padding);
    border-bottom: solid 1px var(--c-black-20);
}

.page-wallets section:not(.section-total-balance) .heading:after {
    content: attr(balance) " " var(--currency);
}

.page-wallets section .heading {
    color: var(--c-black-100);
}

.page-wallets section:not(.section-total-balance) .heading[balanceStatus="positive"]:after {
    color: var(--c-green-100);
}

.page-wallets section:not(.section-total-balance) .heading[balanceStatus="negative"]:after {
    color: var(--c-red-100);
}

/* Wallet row */
.page-wallets .wallet-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--body-padding);
}

.page-wallets .wallet-row:after {
    content: "\ea00";
    position: absolute;
    right: var(--body-padding);
    top: 50%;
    transform: translateY(-50%);
    color: var(--c-black-30);
    font-size: 20px;
    border-radius: 50%;
    font-family: "Phosphor-Bold" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.page-wallets .wallet-row .info {
    flex-grow: 1;
    padding: var(--body-padding);
    border-top: var(--border);
}

.page-wallets .wallet-row:first-child .info {
    border-top: none;
}

.page-wallets .wallet-row .wallet-name {
    text-transform: capitalize;
    padding-bottom: 2px;
}

.page-wallets .wallet-row .wallet-balance:after {
    content: " " var(--currency)
}


/* Section - Add Wallet Button */
.page-wallets .section-add-wallet {
    position: fixed;
    right: var(--body-padding);
    bottom: 90px;
    color: var(--c-primary-100);
    font-size: 50px;
    background-color: transparent;
}

/* ======================================= PAGE - ADD TRANSACTION ======================================= */
.page-add .sub-page-wrapper .header> :is(:nth-child(1), :nth-child(3)) {
    visibility: hidden;
}

.page-add .sub-page-wrapper {
    -webkit-animation: none !important;
    animation: none !important;
}

/* ======================================= PAGE - TRANSACTIONS ======================================= */
.page-transactions .sub-page-wrapper .header> :is(:nth-child(1), :nth-child(3)) {
    visibility: hidden;
}

.page-transactions .sub-page-wrapper {
    -webkit-animation: none !important;
    animation: none !important;
}

/* ======================================= PAGE - SETTINGS ======================================= */
.page-settings section {
    padding: var(--body-padding);
    display: flex;
    flex-direction: column;
}

.page-settings .section-heading {
    margin-bottom: var(--body-padding);
    color: var(--c-black-40);
    line-height: 100%;
}

.page-settings .section-container {
    background-color: var(--c-white-100);
    border-radius: 15px;
    padding: 0 var(--body-padding);
}

.page-settings .setting {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--body-padding);
    border-bottom: var(--border);
    padding: var(--body-padding) 0;
    position: relative;
}

.page-settings .setting.arrow:after {
    content: "\ea00";
    color: var(--c-black-30);
    font-size: 20px;
    border-radius: 50%;
    font-family: "Phosphor-Bold" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-left: calc(var(--body-padding) * -0.5);
    margin-right: -4px;
}

.page-settings .setting:last-child {
    border-bottom: none;
}

.page-settings .setting-icon {
    font-size: 25px;
    color: var(--c-black-50);
}

.page-settings .setting-name {
    flex-grow: 1;
    line-height: 100%;
}

.page-settings .setting-controller {
    word-break: break-all;
}

/* User name */
.confirm-dialog-box#page-settings .user-name-container input {
    width: -webkit-fill-available;
    border: var(--border);
    padding: var(--body-padding);
    border-radius: var(--btn-border-radius);
    text-align: center;
}

.confirm-dialog-box#page-settings .user-name-container input:is(:focus, :focus-within, :focus-visible, :active) {
    outline: solid 2px var(--c-primary-100);
}

/* Appearance */
.page-settings .section-appearance .setting.theme-color {
    position: relative;
}

.confirm-dialog-box#page-settings>i,
.confirm-dialog-box#page-settings>.buttons>.button-1 {
    display: none;
}

.confirm-dialog-box#page-settings .theme-color-picker {
    display: flex;
    flex-wrap: wrap;
    gap: var(--body-padding);
    justify-content: center;
}

.confirm-dialog-box#page-settings .theme-color-picker li {
    min-width: calc(var(--icon-width) * 0.5);
    width: calc(100% / 6 - var(--body-padding));
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.page-settings .section-appearance .setting.theme-color .setting-controller {
    background-color: var(--c-primary-100);
    box-shadow: 0 0 0 3px var(--c-black-10);
    display: inline-block;
    width: calc(var(--icon-width) * 0.6);
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/* Preferences*/
.page-settings .section-preferences .setting.default-wallet .setting-controller {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: calc(var(--body-padding) * 0.7);
    line-height: 1;
    text-transform: capitalize;
}

.page-settings .section-preferences .setting.default-wallet .setting-controller:before {
    min-width: calc(var(--icon-width) * 0.6);
}