/* HEADER */
.page-dashboard .header :is(.row-1, .row-2){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-dashboard .header  .row-1{
    font: var(--font-l);
    font-weight: 400;
}

.page-dashboard .header .row-2{
    margin-top: var(--body-padding);
    border-radius: 10px;
    padding: var(--body-padding);
    background-color: var(--c-white-100);
    color: var(--c-grey);

}

.page-dashboard .header .row-2 .report{
    color: var(--c-black-40);
}

.page-dashboard .header .row-2 .ammount{
    font: var(--font-xl);
    line-height: 1;
    margin: calc(var(--body-padding) * 0.5) 0 -2px;
    display: block;
}

.page-dashboard .header .row-2 .ammount.positive{
    color: var(--c-green-100);
}

.page-dashboard .header .row-2 .ammount.negative{
    color: var(--c-red-100);
}

.page-dashboard .header .row-2 .ammount.negative:before{
    content: "- ";
    
}

.page-dashboard .header .row-2 > i{
    font: var(--font-xl);
    line-height: 1;
    color: var(--c-black-10);
    margin-right: var(--body-padding);
}

/* BODY */
.page-dashboard section{
    border-top: var(--border-bold);
    background-color: var(--c-white-100);
    padding: var(--body-padding);
}

.page-dashboard .section-heading{
    padding-bottom: var(--body-padding);
}

.page-dashboard .section-wrapper button{
    margin: var(--body-padding) 0 0 auto;
}