.app {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  max-height: inherit;
}

.app .app-container {
  flex-grow: 1;
  min-height: inherit;
  max-height: inherit;
  display: flex;
  flex-direction: column;
}

/* ========== PAGES ========== */
/* PAGE */
.app-page {
  padding-bottom: 100px;
  position: relative;
  height: -webkit-fill-available;
  overflow: scroll;
  min-height: inherit;
  max-height: inherit;
  flex-grow: 1;
  position: relative;
  background-color: var(--c-bg);
}

.app-page:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--c-primary-100);
}

/* Header */
.app-page .header {
  background-color: var(--c-primary-100);
  color: white;
  padding: calc(var(--body-padding) * 1.2) var(--body-padding) var(--body-padding);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  text-align: center;
}

/* Body */
.app-page .body {
  background-color: var(--c-bg);
  min-height: -webkit-fill-available;
}


/* ========== NAVIGATION ========== */
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-screen-width);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  bottom: 0;
  border-top: var(--border);
  background-color: var(--blur-bg);
  -webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
  z-index: 99;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0px;
}

.navigation li {
  list-style: none;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--c-black-30);
  transition: var(--transition11);
}

.navigation :is(li.active, li:hover) {
  color: var(--c-primary-100);
}

.navigation li.active i {
  -webkit-animation: navBounce 0.4s;
  animation: navBounce 0.4s;
}

@-webkit-keyframes navBounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes navBounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.navigation li i {
  font-size: 30px;
}

.navigation .add-transaction i {
  font-size: 60px;
}

.navigation .add-transaction span {
  display: none;
}

.navigation li span {
  font: var(--font-s);
  line-height: 100%;
}