.dialog-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.dialog-box.active {
  display: block;
}

.dialog-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dialog-box-wrapper{
  transition: var(--transition-time) var(--transition-type);
  animation: openDialogBox 0.3s;
}

.dialog-box-wrapper.closing{
  animation: closeDialogBox 0.3s;
  transform: scale(0.5);
}

@keyframes openDialogBox {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes closeDialogBox {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.5);
  }
}

/* DATE PICKER */
.dialog-box .date-picker {
  width: 100%;
  height: -webkit-fill-available;
}

.dialog-box .date-picker .duDatepicker-input{
  display: none;
}

/* COMFIRM DIALOG BOX */
.dialog-box .confirm-dialog-box{
  width: 80%;
  background-color: var(--c-white-100);
  border-radius: 10px;
  padding: calc(var(--body-padding) * 1.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--body-padding) * 1.5);
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
}

.dialog-box .confirm-dialog-box i{
  font-size: 60px;
  color: var(--c-yellow-100);
  line-height: 1;
}

.dialog-box .confirm-dialog-box .buttons{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: calc(var(--body-padding) * 1.5);
}

.dialog-box .confirm-dialog-box .buttons > button{
  flex-grow: 1;
  width: calc(50% - (var(--body-padding) * 1.5));
}

