.dialog-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.dialog-box.active {
  display: block;
}

.dialog-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* DATE PICKER */
.dialog-box .date-picker {
  width: 100%;
  height: -webkit-fill-available;
}

.dialog-box .date-picker .duDatepicker-input{
  display: none;
}

