.icon:before {
  content: "";
  display: inline-block;
  background-color: var(--c-black-10);
  background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:v='https://vecta.io/nano' width='71' height='71' fill='none'><path fill='%23bfbfbf' d='M0 0h71v71H0z'/><path d='M47.68 31.729L35 23.188l11.741-7.901a1.68 1.68 0 0 1 1.877 0l9.628 6.479a1.7 1.7 0 0 1 .554.615 1.72 1.72 0 0 1 0 1.613 1.7 1.7 0 0 1-.554.615L47.68 31.729zM23.259 15.287a1.68 1.68 0 0 0-1.876 0l-9.628 6.479a1.7 1.7 0 0 0-.554.615 1.72 1.72 0 0 0 0 1.613 1.7 1.7 0 0 0 .554.615l10.566 7.119L35 23.188l-11.741-7.901zm34.987 23.561L47.68 31.729 35 40.271l11.741 7.901a1.68 1.68 0 0 0 1.877 0l9.628-6.479a1.7 1.7 0 0 0 .554-.615 1.72 1.72 0 0 0 0-1.613 1.7 1.7 0 0 0-.554-.615zm-46.492 0a1.7 1.7 0 0 0-.554.615 1.72 1.72 0 0 0 0 1.613 1.7 1.7 0 0 0 .554.615l9.628 6.479a1.68 1.68 0 0 0 1.877 0L35 40.271l-12.68-8.541-10.566 7.119zm31.828 11.307l-8.109-5.462a.84.84 0 0 0-.938 0l-8.113 5.462a.85.85 0 0 0-.276.308.86.86 0 0 0 0 .805.85.85 0 0 0 .276.307l7.64 5.138a1.68 1.68 0 0 0 1.877 0l7.64-5.146c.114-.078.207-.184.271-.307a.86.86 0 0 0 0-.798c-.064-.123-.157-.228-.271-.307h.004z' fill='%23fff'/></svg>");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: var(--icon-width);
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  border: var(--border);
}

/* Category Icons */
.icon-cat-1:before {
  background-image: url("../../media/icons/cat-1.png");
}

.icon-cat-2:before {
  background-image: url("../../media/icons/cat-2.png");
}

.icon-cat-3:before {
  background-image: url("../../media/icons/cat-3.png");
}

.icon-cat-4:before {
  background-image: url("../../media/icons/cat-4.png");
}

.icon-cat-5:before {
  background-image: url("../../media/icons/cat-5.png");
}

/* Wallet Icons */
.icon-wallet-1:before {
  background-image: url("../../media/icons/wallet-1.png");
}

.icon-wallet-2:before {
  background-image: url("../../media/icons/wallet-2.png");
}

.icon-wallet-3:before {
  background-image: url("../../media/icons/wallet-3.png");
}
