/* SUB PAGE */
.sub-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  min-height: inherit;
  max-height: inherit;
  overflow: scroll;
  pointer-events: visible;
}

.sub-page-wrapper {
  background-color: var(--c-bg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding-bottom: 100px;
  box-shadow: var(--page-shadow);
  transition: var(--transition-time) var(--transition-type);
  -webkit-animation: renderSubPage var(--transition-time);
  animation: renderSubPage var(--transition-time);
}

@-webkit-keyframes renderSubPage {
  0% {
    left: 120%;
  }

  100% {
    left: 0;
  }
}

@keyframes renderSubPage {
  0% {
    left: 120%;
  }

  100% {
    left: 0;
  }
}

.sub-page-wrapper.closed {
  transform: translateX(120%);
}

.sub-page.closing-sub-page {
  left: 90%;
}

.sub-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  text-align: center;
}

.sub-page .header>i {
  font: var(--font-l);
}

.sub-page .header> :nth-child(1) {
  width: 30%;
  text-align: left;
}

.sub-page .header> :nth-child(2) {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.sub-page .header> :nth-child(3) {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: calc(var(--body-padding) * 0.5);
}

/* =====================================   SUB PAGE - CUSTOMIZE DASHBOARD */
.sub-page.customize-dashboard ul {
  transition: all var(--transition-time);
}

.sub-page.customize-dashboard li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--body-padding);
  padding: var(--body-padding);
  border-radius: var(--btn-border-radius);
  background-color: var(--c-white-100);
  transition: all var(--transition-time);
  border-bottom: var(--border);
}

.sub-page.customize-dashboard li:last-child {
  border: none;
}

.sub-page.customize-dashboard li.being-dragged {
  background-color: var(--c-border);
}

.sub-page.customize-dashboard li p {
  flex-grow: 1;
}

.sub-page.customize-dashboard li i {
  line-height: 0.5;
  font-size: 30px;
  opacity: 0.5;
}

.sub-page.customize-dashboard li i:is(:hover, :active, :focus) {
  opacity: 1;
}


/* =====================================   SUB PAGE - TRANSACTION HISTORY */
.sub-page.transactions-history section {
  border-top: var(--border-bold);
  padding: var(--body-padding);
  background-color: var(--c-border);
}

/* Section Search */
.sub-page.transactions-history .section-search {
  padding: 0;
  border-top: 0;
  margin: 0;
}

/* Section FIlter */
.sub-page.transactions-history .section-filters {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  z-index: 5;
  border-top: none;
  border-bottom: var(--border);
  border-top: var(--border);
  background-color: var(--blur-bg);
  -webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
}

.sub-page.transactions-history .section-filters[filterstatus="active"] .section-filters-heading:before {
  content: "";
  width: 7px;
  height: 7px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  background-color: var(--c-red-100);
}

.sub-page.transactions-history .section-filters-heading {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  line-height: 100%;
}

.sub-page.transactions-history .section-filters-heading:after {
  content: "\eadc";
  font-size: 20px;
  font-family: "Phosphor-Bold" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.sub-page.transactions-history .section-filters-wrapper {
  overflow: hidden;
  max-height: 0;
  transition: all var(--transition-time);
}

.sub-page.transactions-history .section-filters-wrapper.expanded {
  max-height: 1000px;
  transition: all var(--transition-time);
}

.sub-page.transactions-history .filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: var(--border);
  padding: var(--body-padding) 0;
  color: var(--c-primary-100);
  line-height: 1;
  font-weight: 400;
}

.sub-page.transactions-history .filter:first-child {
  margin-top: var(--body-padding);
}

.sub-page.transactions-history .filter:last-child {
  padding-bottom: 0;
}

.sub-page.transactions-history .filter-heading {
  font-style: italic;
}

.sub-page.transactions-history .filter-text {
  text-transform: capitalize;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Section Net Balance */
.sub-page.transactions-history .section-net-balance {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  flex-wrap: wrap;
  text-align: center;
  font-weight: 500;
  position: relative;
  padding: 0;
  background-color: var(--c-white-100);
}

.sub-page.transactions-history .section-net-balance:before {
  content: "";
  width: calc(100% - (var(--body-padding) * 2));
  height: calc(100% - (var(--body-padding) * 2));
  background-color: var(--c-border);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-page.transactions-history .section-net-balance :is(.income, .expense) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  z-index: 1;
  padding: var(--body-padding);
  background-color: var(--c-white-100);
}

.sub-page.transactions-history .section-net-balance :is(.income, .expense) p {
  font: var(--font-l);
  font-weight: 600;
  word-break: break-all;
}

.sub-page.transactions-history .section-net-balance :is(.income, .expense) p:after {
  content: " " var(--currency)
}

/* Section Transactions row */
.sub-page.transactions-history .section-transactions {
  padding: 0;
}

.sub-page.transactions-history .section-transactions> :nth-last-child(1) {
  border-bottom: none !important;
}

/* =====================================   SUB PAGE - DATE PICKER */
.sub-page.date-picker li {
  background-color: var(--c-white-100);
  padding: var(--body-padding);
  border-bottom: var(--border);
  list-style: none;
  position: relative;
}

.sub-page.date-picker li.selected {
  background-color: var(--c-white-40);
  position: relative;
}

.sub-page.date-picker li:not(.selected) i {
  display: none;
}

.sub-page.date-picker li p {
  font: var(--font-s);
  color: var(--c-black-50);
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60%;
}

.sub-page.date-picker li i {
  position: absolute;
  right: var(--body-padding);
  top: 50%;
  transform: translateY(-50%);
  font: var(--font-l);
  color: var(--c-primary-100);
}

/* =====================================   SUB PAGE - CATEGORY PICKER */
.sub-page.category-picker .header .edit i {
  font-size: 25px;
}

.sub-page.category-picker .section-tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--body-padding);
  justify-content: space-between;
  background-color: var(--c-primary-100);
  color: white;
  border-top: var(--border);
  border-color: white;
}

.sub-page.category-picker .section-tabs .tab {
  text-transform: uppercase;
  flex-grow: 1;
  text-align: center;
  font-size: 15px;
  line-height: 1;
  opacity: 0.6;
  padding: var(--body-padding) 0;
  position: relative;
}

.sub-page.category-picker .section-tabs .tab.active {
  opacity: 1;
}

.sub-page.category-picker .section-tabs .tab.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
}

.sub-page.category-picker .section-categories {
  display: flex;
  flex-direction: column;
  gap: var(--body-padding);
  padding: var(--body-padding);
  text-transform: capitalize;
  border-top: var(--border);
}

.sub-page.category-picker .category {
  background-color: var(--c-white-70);
  padding: var(--body-padding);
  border-radius: 15px;
}

.sub-page.category-picker .category i {
  line-height: 0;
}

.sub-page.category-picker .category-parent {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--body-padding);
  position: relative;
}

.sub-page.category-picker .category-parent.default:after {
  content: "\ebd3";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--c-black-30);
  border-radius: 50%;
  font-family: "Phosphor-Fill" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.sub-page.category-picker .category-children {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: calc(var(--body-padding) * 2);
  padding: var(--body-padding) 0;
  border-top: var(--border);
  margin: var(--body-padding) 0 calc(var(--body-padding) * -0.5);
}

.sub-page.category-picker .category-child {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: calc(var(--body-padding) * 0.5);
  font: var(--font-s);
  text-align: center;
  min-width: calc(20% - var(--body-padding) * 1.6);
}

/* Selected Categories */
.sub-page.category-picker .category .selected i {
  position: relative;
  box-shadow: 0 0 0 3px var(--c-primary-100);
  border-radius: 50%;
}

.sub-page.category-picker .category .selected i:after {
  content: "\ea30";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 0%);
  font-size: 20px;
  color: var(--c-primary-100);
  background-color: white;
  border-radius: 50%;
  font-family: "Phosphor-Fill" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Section - Add Category Button */
.sub-page.category-picker .section-add-category {
  position: fixed;
  right: var(--body-padding);
  bottom: 90px;
  color: var(--c-primary-100);
  font-size: 50px;
}

/* =====================================   SUB PAGE PARENT CATEGORY PICKER */
.sub-page.parent-category-picker .category {
  position: relative;
  padding: 0 var(--body-padding);
  background-color: var(--c-white-100);
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.sub-page.parent-category-picker .category-name {
  flex-grow: 1;
  padding: calc(var(--body-padding) * 1.5) var(--body-padding);
  border-bottom: var(--border);
}

.sub-page.parent-category-picker .category i {
  font: var(--font-l);
  color: var(--c-primary-100);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--body-padding);
}

.sub-page.parent-category-picker .category:not(.selected) i {
  display: none;
}


/* =====================================   SUB PAGE - WALLET PICKER */
.sub-page.wallet-picker li {
  position: relative;
  padding: 0 var(--body-padding);
  background-color: var(--c-white-100);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sub-page.wallet-picker .info {
  flex-grow: 1;
  padding: var(--body-padding);
  border-bottom: var(--border);
}

.sub-page.wallet-picker ul :nth-last-child(1) .info {
  border-bottom: none;
}

.sub-page.wallet-picker .wallet-name {
  text-transform: capitalize;
  padding-bottom: 2px;
}

.sub-page.wallet-picker .wallet-balance:after {
  content: " " var(--currency)
}

.sub-page.wallet-picker li[status="negative"] .info .wallet-balance {
  color: var(--c-red-100);
}

.sub-page.wallet-picker ul li i {
  font: var(--font-l);
  color: var(--c-primary-100);
}

.sub-page.wallet-picker ul li:not(.selected) i {
  display: none;
}

/* =====================================   SUB PAGE ICON PICKER */
.sub-page.icon-picker .body {
  padding: var(--body-padding);
}

.sub-page.icon-picker .section-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sub-page.icon-picker .section-icons i {
  position: relative;
  max-width: 100%;
  margin: var(--body-padding);
  line-height: 0;
}

.sub-page.icon-picker .section-icons i:before {
  width: 60px;
  max-width: unset;
}

.sub-page.icon-picker .section-icons i.selected {
  box-shadow: 0 0 0 3px var(--c-primary-100);
  border-radius: 50%;
}

.sub-page.icon-picker .section-icons i.selected:after {
  content: "\ea30";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 0%);
  font-size: 20px;
  color: var(--c-primary-100);
  background-color: white;
  border-radius: 50%;
  font-family: "Phosphor-Fill" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


/* =====================================   SUB PAGE - ADD CATEGORY */
.sub-page.add-category .action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--body-padding);
  padding: calc(var(--body-padding) * 2) var(--body-padding) 0;
}

/* Category */
.sub-page.add-category :is(.category, .category-description, .parent-category) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--body-padding) * 0.5);
  background: var(--c-white-100);
  padding: calc(var(--body-padding) * 0.7) var(--body-padding);
}

.sub-page.add-category i {
  width: 18%;
}

.sub-page.add-category input {
  flex-grow: 1;
  line-height: 0;
  text-transform: capitalize;
}

.sub-page.add-category .category i {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--body-padding) * 0.2);
  font: var(--font-s);
  line-height: 1;
  color: var(--c-primary-100);
}

.sub-page.add-category :is(button, .parent-category):before {
  font-size: 20px;
  border-radius: 50%;
  font-family: "Phosphor-Fill" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.sub-page.add-category .category-description {
  border-top: var(--border);
}

.sub-page.add-category .category-description i {
  font: var(--font-l);
  color: var(--c-black-50);
}

.sub-page.add-category .parent-category {
  border-top: var(--border-bold);
  position: relative;
  text-transform: capitalize;
}

.sub-page.add-category .parent-category:before {
  content: "\ea00";
  position: absolute;
  right: var(--body-padding);
  top: 50%;
  transform: translateY(-50%);
  color: var(--c-black-30);
  font-size: 20px;
  border-radius: 50%;
  font-family: "Phosphor-Bold" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.sub-page.add-category .parent-category-name:before {
  content: "Select Parent Category";
  display: block;
  color: var(--c-black-40);
}

.sub-page.add-category .parent-category-name.present:before {
  font: var(--font-s);
  line-height: 1;
  margin-bottom: calc(var(--body-padding) * 0.5);
}

/* Buttons */
.sub-page.add-category .action-buttons button {
  flex-grow: 1;
}

.sub-page.add-category .action-buttons button.delete:before {
  content: "\ed8a";
}

.sub-page.add-category .action-buttons button.save:before {
  content: "\eb1a";
}


/* =====================================   SUB PAGE - ADD TRANSACTION */
/* HEADER */
.sub-page.add-transaction .header .transaction-type {
  position: relative;
}

.sub-page.add-transaction .header :is(.transaction-type-name, .transaction-type-picker) {
  width: 100%;
  border-radius: 20px;
  display: flex;
  gap: var(--body-padding);
}

.sub-page.add-transaction .header .transaction-type-name {
  background-color: rgba(255, 255, 255, 0.2);
  padding: calc(var(--body-padding) * 0.5) calc(var(--body-padding) * 1.5);
  justify-content: center;
}

.sub-page.add-transaction .header .transaction-type-picker {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  background-color: var(--blur-bg);
  -webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
  color: var(--c-black-80);
  flex-direction: column;
  padding: var(--body-padding) var(--body-padding) var(--body-padding) calc(var(--body-padding) * 1.5);
  box-shadow: var(--box-shadow);
  display: none;
  overflow: hidden;
  border: var(--border-container);
}

.sub-page.add-transaction .header .transaction-type-picker.open {
  display: flex;
  text-align: left;
  -webkit-animation: opantTransactionTypePicker 0.3s;
  animation: opantTransactionTypePicker 0.3s;
}

.sub-page.add-transaction .header .transaction-type-picker.closing {
  -webkit-animation: closeTransactionTypePicker 0.3s;
  animation: closeTransactionTypePicker 0.3s;
}

@-webkit-keyframes opantTransactionTypePicker {
  0% {
    height: 0;
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    height: 161px;
    opacity: 1;
  }
}

@keyframes opantTransactionTypePicker {
  0% {
    height: 0;
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    height: 161px;
    opacity: 1;
  }
}

@-webkit-keyframes closeTransactionTypePicker {
  0% {
    height: 161px;
  }

  90% {
    height: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes closeTransactionTypePicker {
  0% {
    height: 161px;
  }

  90% {
    height: 0;
  }

  100% {
    opacity: 0;
  }
}

.sub-page.add-transaction .header .transaction-type-picker li {
  position: relative;
}

.sub-page.add-transaction .header .transaction-type-picker li i {
  font: var(--font-l);
  color: var(--c-primary-100);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  line-height: 1;
}

.sub-page.add-transaction .header .transaction-type-picker li:not(.selected) i {
  display: none;
}

/* BODY */
/* Section Transaction Form */
.sub-page.add-transaction .transaction-form>* {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--body-padding);
  background: var(--c-white-100);
  padding: var(--body-padding);
  text-transform: capitalize;
}

.sub-page.add-transaction .transaction-form>*>i {
  width: var(--icon-width);
  font: var(--font-l);
  color: var(--c-black-50);
  line-height: 0;
}

.sub-page.add-transaction .transaction-form>*>i:before {
  min-width: 26px;
  width: 26px;
}

.sub-page.add-transaction .transaction-form> :not(.transaction-amount, :last-child):after {
  content: "";
  width: calc(100% - var(--icon-width) - (var(--body-padding) * 2));
  border-bottom: var(--border);
  position: absolute;
  bottom: 0;
  right: 0;
}

.sub-page.add-transaction :is(.transaction-category, .transaction-date-text, .transaction-wallet):before {
  content: "\ea00";
  position: absolute;
  right: var(--body-padding);
  top: 50%;
  transform: translateY(-50%);
  color: var(--c-black-30);
  font-size: 20px;
  border-radius: 50%;
  font-family: "Phosphor-Bold" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.sub-page.add-transaction .transaction-form>*> :nth-child(2) {
  flex-grow: 1;
}

/* Transaction Amount */
.sub-page.add-transaction .transaction-amount {
  width: 100%;
  background: var(--c-white-100);
  padding: calc(var(--body-padding) * 2.5) var(--body-padding) var(--body-padding);
  text-align: right;
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: calc(var(--body-padding) * 0.5);
  border-bottom: var(--border-bold);
}

.sub-page.add-transaction :is(.tt-expense, .tt-lend) .transaction-amount {
  color: var(--c-red-100);
}

.sub-page.add-transaction :is(.tt-income, .tt-borrow) .transaction-amount {
  color: var(--c-green-100);
}

.sub-page.add-transaction .transaction-amount:before {
  content: "Amount";
  font: var(--font-s);
  line-height: 1;
  position: absolute;
  top: var(--body-padding);
  right: var(--body-padding);
  color: var(--c-black-80);
}

.sub-page.add-transaction .transaction-amount:after {
  content: var(--currency);
  font-weight: 600;
}

.sub-page.add-transaction .transaction-amount input {
  text-align: right;
  font: var(--font-xl);
  line-height: 1;
  max-width: 100%;
  width: inherit;
  color: inherit;
}

/* Transaction Category */
.sub-page.add-transaction .transaction-category {
  font: var(--font-l);
  line-height: 1;
  color: var(--c-black-70);
}

.sub-page.add-transaction .transaction-category i:before {
  min-width: var(--icon-width);
}

/* Transaction Date */
.sub-page.add-transaction .transaction-date-text:before {
  content: attr(time);
  font: var(--font-m) !important;
}

/* Section - Action Buttons */
.sub-page.add-transaction .section-action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--body-padding);
  padding: calc(var(--body-padding) * 2) var(--body-padding) 0;
}

.sub-page.add-transaction .section-action-buttons button {
  flex-grow: 1;
}

.sub-page.add-transaction .section-action-buttons button:before {
  font-size: 20px;
  border-radius: 50%;
  font-family: "Phosphor-Fill" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.sub-page.add-transaction .section-action-buttons button.delete:before {
  content: "\ed8a";
}

.sub-page.add-transaction .section-action-buttons button.save:before {
  content: "\eb1a";
}


/* =====================================   SUB PAGE - ADD WALLET */
.sub-page.add-wallet .section-wallet>* {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--body-padding) * 0.5);
  background: var(--c-white-100);
  padding: var(--body-padding);
  border-top: var(--border-bold);
}

.sub-page.add-wallet .section-wallet>:first-child {
  border-top: none;
}

.sub-page.add-wallet .wallet i {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--body-padding) * 0.2);
  font: var(--font-s);
  line-height: 1;
  color: var(--c-primary-100);
}

.sub-page.add-wallet input {
  flex-grow: 1;
  line-height: 0;
  text-transform: capitalize;
}

/* Wallet Balance */
.sub-page.add-wallet .wallet-balance:after {
  content: var(--currency);
  align-self: flex-end;
}

.sub-page.add-wallet .wallet-balance-text {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 60%;
}

.sub-page.add-wallet .wallet-balance input {
  text-align: right;
  font: var(--font-xl);
  line-height: 1;
  max-width: 40%;
  width: 40%;
}

/* Wallet Active Status */
.sub-page.add-wallet .wallet-active-status-text {
  flex-grow: 1;
}

.sub-page.add-wallet .wallet-active-status-check {
  flex-grow: unset;
}

/* Section - Action Buttons */
.sub-page.add-wallet .action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--body-padding);
  padding: calc(var(--body-padding) * 2) var(--body-padding) 0;
}

.sub-page.add-wallet .action-buttons button {
  flex-grow: 1;
}

.sub-page.add-wallet .action-buttons button:before {
  font-size: 20px;
  border-radius: 50%;
  font-family: "Phosphor-Fill" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.sub-page.add-wallet .action-buttons button.delete:before {
  content: "\ed8a";
}

.sub-page.add-wallet .action-buttons button.save:before {
  content: "\eb1a";
}